@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {

  /* font*/
  --headline-text: 62px;
  --subheadline-text: 32px;
  --body-text: 18px;
  --lables: 16px;
  --code-snippets: 14px;

  /* colors */
  --primary-color-one: #01080E;
  --primary-color-two: #011627;
  --primary-color-three: #011221;

  --secondary-color-one: #607B96;
  --secondary-color-two: #3C9D93;
  --secondary-color-three: #4D5BCE;
  --secondary-color-four: #FFFFFF;

  --accent-color-one: #FEA55F;
  --accent-color-two: #43D9AD;
  --accent-color-three: #E99287;
  --accent-color-four: #C98BDF;

  --lines-color: #1E2D3D;

  --gradients-color-one: #4D5BCE;
  --gradients-color-two: #43D9AD;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color-two);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;
}

/* buttons */
.btn {
  border-radius: 0.5em;
  margin: 10px;
  padding: 10px 14px;
  cursor: pointer;
}

.btn.primary {
  background-color: var(--accent-color-one);
  color: var(--primary-color-one);
}

.btn.primary.hover {
  background-color: #FFAC6B;
}

.btn.default {
  background-color: #1C2B3A;
  color: var(--secondary-color-four);
}

.btn.default.hover {
  background-color: #263B50;
}

.btn.ghost {
  border: 1px solid var(--secondary-color-four);
  color: var(--secondary-color-four);
}

.btn.ghost.hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.bottom-border {
  border-bottom-color: var(--lines-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.element-border {
  border-color: var(--lines-color);
  border-width: 0 2px;
  border-style: solid;
  height: 100%;
  padding: 0 32px;
  display: flex;
  place-items: center;
}

body {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}








a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
