@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Fira Code", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #011627;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  appearance: none;
}

/* Firefox */

* {
  scrollbar-width: 20px;
  scrollbar-color: #607b96 #011627;
}

/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
  width: 21px;
}

*::-webkit-scrollbar-track {
  border-left: 0.25px solid #607b96;
  border-radius: 0px;
  background-color: #011627;
}

*::-webkit-scrollbar-track:hover {
  background-color: #011627;
}

*::-webkit-scrollbar-track:active {
  background-color: #011627;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #607b96;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #607b96;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #607b96;
}